name: Email Commits to Mailing List

on: push

jobs:
  mail:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        commit: ${{ github.event.commits }}

    steps:
      - name: Extract commit info
        id: info
        run: |
          sha=${{ matrix.commit.id }}

          diffstat=$(git show --stat "$sha")

          echo "commit_body<<EOF"            >> $GITHUB_OUTPUT
          echo "$diffstat"                   >> $GITHUB_OUTPUT
          echo "EOF"                         >> $GITHUB_OUTPUT

      - name: Send email
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.GMAIL_USERNAME }}
          password: ${{ secrets.GMAIL_APP_PASSWORD }}

          from: ${{ secrets.GMAIL_USERNAME }}
          to:   zeppe-lin-dev@freelists.org

          subject: "[${{ github.event.repository.name }}:${{ github.ref_name || github.event.ref }}] ${{ matrix.commit.id:0:7 }}: ${{ matrix.commit.message.split('\n')[0] }}"

          body: |
            ${{ steps.info.outputs.commit_body }}

            https://github.com/${{ github.repository }}/commit/${{ matrix.commit.id }}

# End of file.
